:root {
	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	line-height: 1.5;
	font-weight: 400;

	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #dff6ff;

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

.album_image {
	overflow: scroll;
}

body {
	margin: 0;
	max-width: 100%;
	overflow-x: hidden;
	overflow: hidden;
	color: #252522;
}

.next:hover,
.prev:hover {
	scale: 1.4;
	background-color: #ffcc65;
	transition: 0.4s ease-in-out;
	font-weight: 900;
}

.next:active,
.prev:active {
	scale: 0.8;
	background-color: #ffcc65;
	color: #008dda;
}

.testimony {
	overflow-y: scroll;
}

.before_marriage:hover {
	scale: 1.1;
	transition: 0.5s ease-in-out;
}
.before_marriage:active {
	scale: 0.8;
	transition: 0.5s ease-in-out;
}

.after_marriage:hover {
	scale: 1.1;
	transition: 0.5s ease-in-out;
}
.after_marriage:active {
	scale: 0.8;
	transition: 0.5s ease-in-out;
}

.single_paragraph p {
	padding-right: 1rem;
}

/* .active {
	background-color: #ffcc65;
} */

._shadow {
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

._image_hover:hover {
	scale: 1.2;
	z-index: 9;
	position: relative;
	transition: 1s ease-in-out;
	cursor: pointer;
}

._buttons:hover {
	scale: 1.1;
	transition: 0.7s ease-in-out;
	cursor: pointer;
}
._actions:hover {
	scale: 1.8;
	transition: 0.7s ease-in-out;
}

._close:hover {
	background-color: rgb(156, 11, 11);
	color: white;
	transition: 0.7s ease-in-out;
}

._bg_blue {
	background-color: #dff5ff;
}

._links:hover {
	background-color: #4793af;
	color: #fff;
	scale: 1.1;
	transition: 0.5s ease-in-out;
	border-radius: 4px;
	padding-left: 5px;
}

._back:hover {
	color: #ffcc65;
	transition: 0.6s ease-in-out;
	transform: scaleX(1.5);
}
